In [13]:
import pandas as pd
import numpy as np
import random
import os

In [14]:
# Fake data parameters
apps = [f"App_{i}" for i in range(1, 21)]
countries = ["US", "TR", "DE", "FR", "BR", "IN", "UK", "CA", "AU"]
platforms = ["iOS", "Android"]
dates = pd.date_range(end=pd.Timestamp.today(), periods=90)

In [15]:
data = []
for date in dates:
    for app in apps:
        for country in countries:
            platform = random.choice(platforms)
            impressions = np.random.randint(1000, 50000)
            clicks = int(impressions * np.random.uniform(0.01, 0.15))
            installs = int(clicks * np.random.uniform(0.2, 0.6))
            spend = round(installs * np.random.uniform(0.5, 2.5), 2)
            revenue = round(installs * np.random.uniform(0.3, 3.0), 2)
            data.append([
                date.date(), app, country, platform,
                impressions, clicks, installs, spend, revenue
            ])

In [16]:
df = pd.DataFrame(data, columns=[
    "date", "app_name", "country", "platform",
    "impressions", "clicks", "installs", "spend", "revenue"
])

In [18]:
# Checking missing values
print(df.isnull().sum())

date           0
app_name       0
country        0
platform       0
impressions    0
clicks         0
installs       0
spend          0
revenue        0
dtype: int64

In [20]:
# Negative value control
for col in ["impressions", "clicks", "installs", "spend", "revenue"]:
    print(f"{col}: {(df[col] < 0).sum()} negatif value")

impressions: 0 negatif value
clicks: 0 negatif value
installs: 0 negatif value
spend: 0 negatif value
revenue: 0 negatif value

In [21]:
# Date format
df["date"] = pd.to_datetime(df["date"], errors="coerce")

In [22]:
# Save data

os.makedirs("../data", exist_ok=True)
df.to_csv("../data/campaign_data.csv", index=False)

print("\n campaign_data.csv was created and saved.")

 campaign_data.csv was created and saved.

In [26]:
# Preview 
df

,date,app_name,country,platform,impressions,clicks,installs,spend,revenue
0,2025-05-14,App_1,US,Android,28189,1162,602,981.54,1678.34
1,2025-05-14,App_1,TR,iOS,33984,5045,1361,883.85,1672.53
2,2025-05-14,App_1,DE,Android,46873,5199,3023,2361.64,2491.91
3,2025-05-14,App_1,FR,Android,1574,31,15,25.75,4.97
4,2025-05-14,App_1,BR,Android,10853,778,310,299.72,262.93
...,...,...,...,...,...,...,...,...,...
16195,2025-08-11,App_20,BR,iOS,4308,331,122,106.60,247.77
16196,2025-08-11,App_20,IN,iOS,27618,1114,658,1249.01,371.02
16197,2025-08-11,App_20,UK,iOS,23480,1145,330,401.80,158.74
16198,2025-08-11,App_20,CA,Android,1060,147,39,77.53,39.45
16199,2025-08-11,App_20,AU,iOS,2173,85,18,27.80,40.01